<nav class="admin-nav navbar navbar-expand navbar-light">
  <div class="navbar-nav">
    <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link">Accounts</a>
    <a routerLink="dogs" routerLinkActive="active" class="nav-item nav-link">Dogs</a>
    <a routerLink="/temp" routerLinkActive="active" class="nav-item nav-link">About</a>
    <a routerLink="/temp" routerLinkActive="active" class="nav-item nav-link">News</a>
    <a routerLink="/temp" routerLinkActive="active" class="nav-item nav-link">Foster/Adopt</a>
    <a routerLink="/temp" routerLinkActive="active" class="nav-item nav-link">Contact</a>
    <a routerLink="/temp" routerLinkActive="active" class="nav-item nav-link">Donate</a>
  </div>
</nav>
